@import "tailwindcss";

:root{
    --bg-color:#FDF7E9;
    --maroon-color:#4A1D1F;
    --gray-color:#A1A1A1;
    --border-color:#DBDFD0;
    --bg-gray-color:#d1d5dc;
}

*{
    font-family: 'Poppins';
}

/* Style for quantity input */
.quantity-control input {
    -moz-appearance: textfield;
}
.quantity-control input::-webkit-outer-spin-button,
.quantity-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
