@import "tailwindcss";

:root{
    --bg-color:#FDF7E9;
    --maroon-color:#4A1D1F;
    --gray-color:#A1A1A1;
    --border-color:#DBDFD0;
    --bg-gray-color:#d1d5dc;
}
*{
    font-family: 'Poppins';
}